body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1340px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1340px;
}
#u154 {
  position:absolute;
  left:2px;
  top:662px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:81px;
  top:724px;
  width:588px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u156 {
  position:absolute;
  left:15px;
  top:410px;
  width:719px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u157 {
  position:absolute;
  left:0px;
  top:37px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
