body {
  background: #fff;
}
body .image {
  text-align: center;
  margin-top: 1.22rem;
}
body .image img {
  width: 1.15rem;
  height: 1.15rem;
}
body .barcode {
  width: 4.34rem;
  height: 1.47rem;
  margin: 0 auto;
  margin-top: .81rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .barcode .barcodeImg {
  margin-bottom: .36rem;
}
body .wid {
  width: .2rem;
  display: none;
}
