body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u214 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:0px;
  top:37px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:98px;
}
#u216 {
  position:absolute;
  left:82px;
  top:1201px;
  width:588px;
  height:98px;
}
#u217 {
  position:absolute;
  left:2px;
  top:41px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:82px;
  top:1199px;
  width:587px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
