.medicalCard {
  width: 6.9rem;
  height: 2.9rem;
  border-radius: .1rem;
  background: url(../../img/medicalCard.png);
  background-size: 7rem 3rem;
  margin: .2rem auto;
  color: #fff;
  margin-bottom: 0;
  position: relative;
}
.medicalCard .medicalCard-content,
.medicalCard .medicalCard-delete {
  display: flex;
  justify-content: space-between;
}
.medicalCard .medicalCard-content .medicalCard-Info-box,
.medicalCard .medicalCard-delete .medicalCard-Info-box {
  padding: .34rem .2rem;
  display: flex;
  padding-bottom: 0;
}
.medicalCard .medicalCard-content .medicalCard-Info-box img,
.medicalCard .medicalCard-delete .medicalCard-Info-box img {
  width: 1rem;
  height: 1rem;
}
.medicalCard .medicalCard-content .medicalCard-Info-box .medicalCard-Info,
.medicalCard .medicalCard-delete .medicalCard-Info-box .medicalCard-Info {
  padding-left: .2rem;
}
.medicalCard .medicalCard-content .qrcodeBox,
.medicalCard .medicalCard-delete .qrcodeBox {
  width: .6rem;
  height: .6rem;
  background: #fff;
  border-radius: .1rem;
  margin: .2rem .38rem;
  text-align: center;
}
.medicalCard .medicalCard-content .qrcodeBox #qrcode,
.medicalCard .medicalCard-delete .qrcodeBox #qrcode {
  width: .6rem;
  height: .6rem;
}
.medicalCard .medicalCard-delete {
  width: 100%;
  padding: 0 .2rem;
  position: absolute;
  bottom: .2rem;
}
.medicalCard .deleteEvent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: .04rem;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: .1rem;
  display: none;
}
.medicalCard .deleteEvent .deleteEvent-tip {
  position: absolute;
  width: 2.2rem;
  line-height: .7rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: .15rem;
  top: 50%;
  left: 50%;
  margin-left: -1.1rem;
  margin-top: -0.35rem;
  text-align: center;
}
.qrcodeBg {
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: none;
}
.qrcodeBg .qrcodecontent {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2rem;
  margin-top: -2rem;
}
.addpatient {
  margin-top: 1.16rem;
}
