* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: .3rem;
}
body {
  background: #f2f2f2;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol,
dd,
dt,
dl {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
a,
input,
select {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
}
input,
img {
  border: none;
}
i,
em {
  font-style: normal;
}
:focus {
  outline: none;
}
select {
  background: none;
}
.tabbar {
  background: #6ab9ea;
  text-align: center;
  line-height: 1.35rem;
  font-size: .34rem;
  color: #fff;
  box-sizing: border-box;
  border: none;
}
.payList {
  width: 7rem;
  margin: 0 auto;
}
.payList .payList-content {
  display: flex;
  margin: .16rem 0;
  flex-direction: column;
  justify-content: space-around;
  height: 3.12rem;
  background: #fff;
  padding: 0 .3rem;
  border-radius: .1rem;
  box-shadow: 0 .02rem .04rem #ccc;
}
.payList .payList-content .prescription {
  display: flex;
  justify-content: space-between;
  padding-top: .1rem;
}
.payList .payList-content .prescription .prescription-num {
  color: #539dd7;
}
.payList .payList-content .prescription .prescription-time {
  color: #999;
}
.payList .payList-content .department {
  color: #333;
}
.payList .payList-content .peopleInfo {
  color: #333;
  display: flex;
  justify-content: space-between;
}
.payList .payList-content .price {
  display: flex;
  justify-content: space-between;
  height: .93rem;
  align-items: center;
}
.payList .payList-content .price .cost {
  color: #539dd7;
}
.payList .payList-content .price .payCost {
  color: #fff;
  text-align: center;
  width: 1.7rem;
  line-height: .6rem;
  background: url(../../img/inputtingTiedcard/inputAfter.png);
  background-size: 1.7rem .6rem;
  border-radius: .4rem;
}
.divider {
  width: 100%;
  height: .03rem;
  background: #6ab9ea;
}
.from {
  background: #fff;
  font-size: .3rem;
}
.from .tableBox {
  margin-bottom: 0;
}
.from .tableBox thead tr th,
.from .tableBox tbody tr th {
  color: #999;
  text-align: center;
}
.from .tableBox thead tr th,
.from .tableBox tbody tr th,
.from .tableBox thead tr td,
.from .tableBox tbody tr td {
  width: 23%;
  padding: .2rem 0;
}
.from .tableBox thead tr th:first-child,
.from .tableBox tbody tr th:first-child,
.from .tableBox thead tr td:first-child,
.from .tableBox tbody tr td:first-child {
  width: 31%;
  text-align: unset;
  padding-left: .2rem;
}
.from .tableBox thead tr td,
.from .tableBox tbody tr td {
  text-align: center;
}
.from .total-amount {
  text-align: right;
  line-height: .9rem;
  border-bottom: .01rem solid #e0e0e0;
  padding-right: .3rem;
}
.from .total-amount .total-amount-txt {
  color: #999;
}
.from .total-amount .total-amount-price {
  color: #3c99d3;
}
.backBtn {
  width: 6rem;
  background: url(../../img/inputtingTiedcard/inputAfter.png);
  background-size: 6rem .96rem;
  line-height: .96rem;
  text-align: center;
  margin: .78rem auto;
  color: #fff;
  font-size: .37rem;
}
.checked-patient {
  background: #fff;
  line-height: .9rem;
  color: #666;
  padding-left: .3rem;
  font-size: .27rem;
  border-bottom: .01rem solid #f2f2f2;
}
.subBtn {
  width: 6rem;
  height: 1rem;
  background: url(../../img/inputtingTiedcard/noInput.png);
  background-size: 6rem 1rem;
  margin: .6rem auto;
  position: relative;
}
.subBtn button {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.subBtn span {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: .4rem;
  text-align: center;
  line-height: 1rem;
}
.searchbg {
  height: 1.05rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbg .searchbox {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchbg .searchbox .searchInput {
  width: 5.97rem;
  height: .64rem;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchbg .searchbox .searchInput .searchInput-left .searchicon {
  color: #999;
  font-size: .31rem;
  padding: 0 .06rem 0 .27rem;
}
.searchbg .searchbox .searchInput .searchInput-left input {
  background: #f0f0f0;
}
.searchbg .searchbox .searchInput .deleteicon {
  font-weight: 300;
  margin-right: .28rem;
  color: #999;
}
.searchbg .searchbox .searchbtn {
  border: none;
  background: #fff;
  color: #61ade2;
  font-size: .35rem;
  margin-left: .2rem;
}
.online {
  display: flex;
  font-size: .3rem;
  height: .87rem;
  background: #fff;
  width: 100%;
}
.online .online-buildCard,
.online .online-bindingCard {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}
.online .online-buildCard .select,
.online .online-bindingCard .select {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.42rem;
  height: 100%;
  color: #6ab9ea;
  border-bottom: .01rem solid #6ab9ea;
}
