.patientList {
  padding: 0 .3rem;
  background: #fff;
}
.patientList ul {
  margin-bottom: 0;
}
.patientList ul li {
  display: flex;
  justify-content: space-between;
  line-height: .9rem;
  border-bottom: .01rem solid #e0e0e0;
}
.patientList ul li span:first-child {
  color: #333;
}
.patientList ul li span:last-child {
  color: #999;
}
.patientList .costDetail {
  display: flex;
  justify-content: space-between;
  line-height: .9rem;
}
.patientList .costDetail .checkDetails {
  color: #539dd7;
}
.patientList .costDetail .checkDetails .costDetail-icon {
  display: inline-block;
  width: .23rem;
  height: .12rem;
  background: url(../../img/门诊缴费/多边形1.png);
  background-size: .23rem .12rem;
}
.payment {
  margin: .5rem auto;
  margin-bottom: 0;
}
