body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u300 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301 {
  position:absolute;
  left:81px;
  top:572px;
  width:588px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u302 {
  position:absolute;
  left:0px;
  top:37px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u303 {
  position:absolute;
  left:54px;
  top:165px;
  width:509px;
  height:285px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
