.patient{
    margin-top:.2rem;
}
.payStyle{
    margin:.2rem 0 .42rem 0;
    .patientInfo{
        height: .9rem;
        .patientInfo-left{
            display: flex;
            align-items: center;
            .WeChat-icon,.payTreasure-icon,.unionpay-icon{
                display: inline-block;
                width: .52rem;
                height:.52rem;
                background:url(../../img/registered/wechat.png);
                background-size: .52rem .52rem;
                margin-right: .2rem;
            }
            .payTreasure-icon{
                background:url(../../img/registered/wechat.png);
                background-size: .52rem .52rem;
            }
            .unionpay-icon{
                display: inline-block;
                width: .64rem;
                height:.42rem;
                background:url(../../img/registered/unionpay.png);
                background-size: .64rem .42rem;
            }

        }
        .unionpay,.payTreasure,.WeChat{
            display: inline-block;
            width:.4rem;
            height: .3rem;
        }   
        .select{
           
            background: url(../../img/registered/checkPaystyle.png);
            background-size: .4rem .3rem;
        }
    }
}
.checkpay{
    margin-top:0;
    margin-bottom:.35rem;
}
