.patient {
  margin-top: .2rem;
}
.payInfo {
  height: 2.57rem;
  width: 100%;
  background: #fff;
  margin-bottom: .23rem;
}
.payInfo .paytime {
  line-height: .58rem;
  background: #f79841;
  color: #fff;
  text-align: center;
  font-size: .24rem;
}
.payInfo .payprice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 1.99rem;
}
.payInfo .payprice .payprice-num {
  font-size: .52rem;
  color: #f79841;
}
.checkpay {
  margin-top: .58rem;
  margin-bottom: 0;
}
