body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u130 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:650px;
  top:435px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u132 {
  position:absolute;
  left:585px;
  top:910px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u133 {
  position:absolute;
  left:0px;
  top:38px;
  width:90px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:49px;
}
#u134 {
  position:absolute;
  left:593px;
  top:166px;
  width:128px;
  height:49px;
}
#u135 {
  position:absolute;
  left:2px;
  top:16px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:603px;
  top:161px;
  width:124px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
