body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u175 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:0px;
  top:34px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u177 {
  position:absolute;
  left:0px;
  top:134px;
  width:375px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u178 {
  position:absolute;
  left:514px;
  top:454px;
  width:203px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u179 {
  position:absolute;
  left:514px;
  top:786px;
  width:203px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
