body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1944px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u164 {
  position:absolute;
  left:1194px;
  top:0px;
  width:750px;
  height:1334px;
}
#u165 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:1272px;
  top:1201px;
  width:593px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u167 {
  position:absolute;
  left:1194px;
  top:35px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
