body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u238 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:312px;
  top:1215px;
  width:226px;
  height:119px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u240 {
  position:absolute;
  left:461px;
  top:643px;
  width:265px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u241 {
  position:absolute;
  left:461px;
  top:760px;
  width:265px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u242 {
  position:absolute;
  left:461px;
  top:877px;
  width:265px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u243 {
  position:absolute;
  left:461px;
  top:993px;
  width:265px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u244 {
  position:absolute;
  left:461px;
  top:1105px;
  width:265px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u245 {
  position:absolute;
  left:538px;
  top:1225px;
  width:212px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
