body {
  background: #fff;
}
body ul {
  padding: 0 .4rem 0 .4rem;
  border-top: .01rem solid #f0f0f0;
}
body ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  border-bottom: .01rem solid #f0f0f0;
}
body ul li .departmentName {
  display: flex;
  align-items: center;
}
body ul li .departmentName .departmentIcon {
  display: block;
  width: .52rem;
  height: .56rem;
}
body ul li .departmentName .departmentTxt {
  margin-left: .23rem;
}
body ul li:nth-child(1) .departmentName .departmentIcon {
  background: url(../../img/registered/Internal-medicine.png);
  background-size: .52rem .56rem;
}
body ul li:nth-child(2) .departmentName .departmentIcon {
  background: url(../../img/registered/surgical.png);
  background-size: .52rem .56rem;
}
body ul li:nth-child(3) .departmentName .departmentIcon {
  background: url(../../img/registered/og-department.png);
  background-size: .52rem .56rem;
}
body ul li:nth-child(4) .departmentName .departmentIcon {
  background: url(../../img/registered/pediatric.png);
  background-size: .52rem .56rem;
}
body ul li:nth-child(5) .departmentName .departmentIcon {
  background: url(../../img/registered/ent.png);
  background-size: .52rem .56rem;
}
body ul li:nth-child(6) .departmentName .departmentIcon {
  background: url(../../img/registered/dermatology.png);
  background-size: .52rem .56rem;
}
body ul li:nth-child(7) .departmentName .departmentIcon {
  background: url(../../img/registered/general-outpatient.png);
  background-size: .52rem .56rem;
}
body ul li:nth-child(8) .departmentName .departmentIcon {
  background: url(../../img/registered/general-outpatient.png);
  background-size: .52rem .56rem;
}
body ul li:nth-child(9) .departmentName .departmentIcon {
  background: url(../../img/registered/eye.png);
  background-size: .52rem .56rem;
}
body ul li:nth-child(10) .departmentName .departmentIcon {
  background: url(../../img/registered/general-outpatient.png);
  background-size: .52rem .56rem;
}
body ul li .rightIcon {
  color: #999;
}
