body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1340px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1340px;
}
#u286 {
  position:absolute;
  left:2px;
  top:662px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:98px;
}
#u287 {
  position:absolute;
  left:81px;
  top:867px;
  width:588px;
  height:98px;
}
#u288 {
  position:absolute;
  left:2px;
  top:41px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289 {
  position:absolute;
  left:0px;
  top:137px;
  width:373px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u290 {
  position:absolute;
  left:78px;
  top:867px;
  width:595px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u291 {
  position:absolute;
  left:217px;
  top:256px;
  width:300px;
  height:80px;
}
#u291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u292 {
  position:absolute;
  left:217px;
  top:358px;
  width:300px;
  height:80px;
}
#u292_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u293 {
  position:absolute;
  left:217px;
  top:458px;
  width:300px;
  height:80px;
}
#u293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u294 {
  position:absolute;
  left:217px;
  top:581px;
  width:300px;
  height:80px;
}
#u294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u295 {
  position:absolute;
  left:0px;
  top:38px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
