body {
  background: #fff;
}
body .doctorInfo {
  display: flex;
  justify-content: space-around;
  height: 2.12rem;
  align-items: center;
  border-top: .01rem solid #f2f2f2;
}
body .doctorInfo .doctor-img {
  width: 1.3rem;
  height: 1.3rem;
}
body .doctorInfo .doctor-txt {
  margin-left: -0.6rem;
}
body .doctorInfo .doctor-txt .doctor-introduce {
  color: #666;
}
body .doctorInfo .doctor-txt .doctor-introduce .doctor-name {
  font-size: .33rem;
  color: #333;
  font-weight: 600;
}
body .doctorInfo .doctor-txt .doctor-registration {
  margin-top: .1rem;
}
body .doctorInfo .Residual-numAmount {
  display: flex;
  align-items: center;
}
body .doctorInfo .Residual-numAmount .Residual-num {
  color: #333;
}
body .doctorInfo .Residual-numAmount .Residual-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: .74rem;
  height: .34rem;
  margin-left: .06rem;
  color: #fff;
  font-size: .21rem;
  background: url(../../img/pricetip.jpg);
  background-size: .74rem .34rem;
}
