body{
    background: #fff;
    .searchbox{
        
    }
    .doctorInfo{
        display: flex;
        justify-content: space-around;
        height: 2.12rem;
        align-items: center;
        border-top:.01rem solid #f2f2f2;
        
        .doctor-img{
            width:1.3rem;
            height:1.3rem;
        }
        .doctor-txt{
            margin-left:-.6rem;
            .doctor-introduce{
                color:#666;
                .doctor-name{
                    font-size:.33rem;
                    color:#333;
                    font-weight: 600;
                }
                .doctor-department{

                }
                .doctor-position{

                }
            }
            .doctor-registration{
                margin-top:.1rem;
                .doctor-registration-txt{

                }
                .doctor-registration-price{

                }
            }
            .doctor-Source{
                color:#ee1f09;
                .doctor-Source-txt{

                }
                .doctor-Source-num{

                }
            }
        }
        .collection{
            width:1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .collection-icon{
                display: block;
                width:.28rem;
                height:.28rem;
                background:url(../../img/registered/nocollection.png);
                background-size: .28rem .28rem;
            }
            .collectioned{
                background:url(../../img/registered/Collectioned.png);
                background-size: .28rem .28rem;
            }
            .collection-txt{
                color:#999;
                font-size:.16rem;
            }
        }
    }
}